@import '../../utils/variables';

.add-form {
  width: $width;
  @extend %height;
  padding: 10px 20px;
  border: 2px solid rgb(199, 196, 196);
  border-radius: 5px;
  background-color: rgb(235, 232, 232);
}

.add-field {
  padding-bottom: 15px;

  &-textarea {
    width: 100%;
    padding: 10px 10px 0;
    height: 100px;
    resize: none;
  }
}


