@import '../../utils/variables';

.add-form {
  width: $width;
  padding: 10px 20px;
  margin: $indents;
  border: 2px solid rgb(199, 196, 196);
  border-radius: 5px;
  background-color: rgb(235, 232, 232);
}

.add-field {
  padding-bottom: 15px;
}
