@import '../../utils/variables';

.contact-info {
  width: $width;
  @extend %height;
  padding: 10px 20px;
  border: 2px solid rgb(199, 196, 196);
  border-radius: 5px;
  background-color: rgb(235, 232, 232);

  &-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &-key {
    text-decoration: underline;
    text-transform: uppercase;
  }

  &-string {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }

  &-value {
    overflow: hidden;
    cursor: pointer;
  }

  &-remove {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  &-inputs {
    display: flex;
    margin: 10px 0;
    gap: 5px;
  }
}
