@import '../../utils/variables';

.contact-info {
  width: $width;
  min-height: 330px;
  padding: 10px 20px;
  margin: $indents;
  border: 2px solid rgb(199, 196, 196);
  border-radius: 5px;
  background-color: rgb(235, 232, 232);

  &-list {
    display: flex;
    justify-content: space-between;
  }

  &-key {
    text-decoration: underline;
    text-transform: uppercase;
  }

  &-value {
    display: flex;
    justify-content: space-between;
    width: 65%;
  }

  &-remove {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  &-inputs {
    display: flex;
    margin: 10px 0;
    gap: 5px;
  }

  &-button {
    position: relative;
    left: 232px;
  }
}
