@import './utils/variables';

.main {
  display: flex;
}

.button {
  height: 30px;
  font-weight: bold;
  border-radius: 7px;

  &:active {
    color: white;
    background-color: rgb(162, 209, 247);
  }
}

.title {
  margin: 10px 0 20px;
  text-align: center;
}

input {
  height: 35px;
  width: 100%;
  padding-left: 10px;
  border-radius: 5px;
}
