@import '../../utils/variables';

.contacts {
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: rgb(216, 225, 231);
  }

  &-list {
    position: relative;
    @extend %height;
    padding: 10px 20px;
    border: 2px solid rgb(199, 196, 196);
    border-radius: 5px;
    background-color: rgb(235, 232, 232);

    &-title {
      flex-grow: 1;
      min-width: 145px;
      overflow-wrap: break-word;
    }

    &-buttons {
      min-width: 100px;
      flex-shrink: 0;
    }

    &-button {
      margin-left: 10px;
      background-color: rgb(200, 226, 230);

      &-active {
        color: white;
        background-color: rgb(62, 64, 100);
      }
    }

    &-add-button {
      position: sticky;
      bottom: 20px;
      width: 80px;
      height: 80px;
      font-weight: bold;
      border-radius: 25%;
      color: white;
      background-color: rgb(118, 143, 118);

        &:hover {
          opacity: 0.8;
          box-shadow: 1px 2px 4px rgb(65, 63, 63);
        }

        &:active {
          color: black;
          background-color: rgb(162, 209, 247);
        }
    }
  }

  &-input {
    margin-bottom: 15px;
  }
}
